server:
  port: ${PORT:8762}
        
eureka:
  instance:
    preferIpAddress: true
    instanceId: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}

spring:
  application:
    name: gateway    
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
      routes:
        - id: ms-books-catalogue
          uri: https://catalogue-production-de62.up.railway.app
          predicates:
            - Path=/ms-books-catalogue/**
          filters:
            - StripPrefix=1
        - id: ms-books-payment
          uri: https://orders-production-e195.up.railway.app
          predicates:
            - Path=/ms-books-payment/**
          filters:
            - StripPrefix=1
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_FIRST
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
              - "https://front-relatos-de-papel-six.vercel.app"
            allowedHeaders: "*"
            allowedMethods: "*"
            allowCredentials: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true
